amqp==5.0.1
aniso8601==7.0.0
anyio==2.0.2
apiclient==1.0.4
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.2.10
astroid==2.4.2
async-generator==1.10
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.9.3
billiard==3.6.3.0
bleach==3.2.1
cachetools==4.1.1
celery==5.0.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
colorama==0.4.3
cryptography==3.1.1
cycler==0.10.0
decorator==4.4.2
decouple==0.0.7
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.1
django-admin-autoregister==1.0.0
django-appconf==1.0.4
django-background-tasks==1.2.5
django-bootstrap4==2.3.1
django-classy-tags==2.0.0
django-compat==1.0.15
django-cors-headers==3.7.0
django-easy-maps==1.1.2
django-graphiql==0.4.4
django-graphql-jwt==0.3.1
django-heroku==0.3.1
django-sequences==2.5
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
geographiclib==1.50
geopy==2.0.0
google-api-core==1.21.0
google-api-python-client==1.9.3
google-auth==1.18.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.52.0
graphene==2.1.8
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.0.4
httplib2==0.18.1
idna==2.10
install==1.3.4
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyter-server==1.1.3
jupyterlab==3.0.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.0.0
kiwisolver==1.3.1
kombu==5.0.2
lazy-object-proxy==1.4.3
librabbitmq==2.0.0
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
mistune==0.8.4
msgpack==1.0.0
nbclassic==0.2.5
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
notebook==6.1.6
numpy==1.19.5
oauthlib==3.1.0
packaging==20.8
pandas==1.2.1
pandocfilters==1.4.3
parso==0.8.1
pickleshare==0.7.5
Pillow==7.2.0
praw==7.1.0
prawcore==1.5.0
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.12.2
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.9
Pygments==2.7.3
PyJWT==2.0.1
pylab-sdk==1.3.2
pylint==2.5.3
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.1
pywin32==300
pywinpty==0.5.7
pyzmq==20.0.0
redis==3.5.3
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
Rx==1.6.1
scikit-learn==0.24.1
scipy==1.6.1
Send2Trash==1.5.0
singledispatch==3.6.1
six==1.15.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.0.1
SQLAlchemy==1.3.23
sqlparse==0.3.1
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.1
traitlets==5.0.5
update-checker==0.18.0
uritemplate==3.0.1
urllib3==1.25.9
vine==5.0.0
virtualenv==20.4.2
waitress==1.4.4
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
whitenoise==5.2.0
wrapt==1.12.1
WTForms==2.3.3
