{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="header">
  
    <h1>Welcome {{ name }} </h1>
    <a href="{{ url_for('logout') }}" class="btn btn-primary btn-large">Logout</a>
    <!-- <a href="{{ url_for('logout') }}" class="btn btn-primary">Go to Google</a> -->
    
</div>
<br>
<br>
<div class ="content">
    <h2>Covid-19 Vaccine Waitlist for city: {{ city }}</h2>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
        <tr>
        {% for item in items %}
            <td>{{ item.content }}</td>
            <td>{{ item.priority }}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <form actions='/' method="POST">
        <input class="addPerson" type="text" name="content" id="content">
        
        <button type="submit" class="btn btn-primary btn-large btnp " value="Add person">Add person</button>
        <!-- <input type="submit" value="Add person"> -->
        <br><br>
        <a href="/delete" class="btn btn-primary btn-large">Get next person to be vaccinated </a>
    </form>
    {% if delv %}
    <p> {{delv}}</p>
    {% endif %}
</div>
{% endblock %}
